{
    "env":{
        "node":true,
        "es6":true,
        "mocha":true
    },
    "rules":{
        "semi": "error",
        "no-var": "error",
         "no-useless-computed-key": "error",
         "no-useless-constructor": "error",
         "default-case":"error",
         "no-class-assign":"error",
         "object-shorthand": "error",
         "no-whitespace-before-property":"error",
         "no-dupe-class-members":"error",
          "prefer-const": "error",
        "prefer-reflect": "error",
        "prefer-template": "error"
    }
}